/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.main-body {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

.main-body {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

.main-body-login {
  width: 100%;
  min-height: 600px;
  position: relative;
  background-attachment: scroll;
  overflow: scroll;
  display: block;
  padding: 10px;
}

#login-modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  height: 190px;
  background-color: #fff;
  width: 80%;
  border-radius: 1%;
}

#login-modal p {
  font-family: 'verdana';
  text-align: center;
  font-weight: bold;
  color: #898989;
  font-size: 1.3em;
  margin-top: .6em;
  padding-top: .9em;
}

#login-img-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 230px;
}

#login-modal img {
  width: 100%;
}

.main-body .content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 60px;
  width: 100%;
}

.main-body .content h1 {
  font-weight: 100;
}

.main-body .content p {
  width: 100%;
  line-height: 160%;
}

